<div 
class="contact-list panel-padding clearfix" 
panel-edit-handler 
ng-class="{'grey':data.grayBackground}"
highlighter 
is-multiple="false"
highlight="data.editing"
>
  <div class="em-l-container">
    <h5 ng-if="data.panelTitle.enable" class="contact-hd panel-main-hd">{{data.panelTitle.data}}</h5>
    <ul 
      class="em-c-card-list em-l-grid em-l-grid--3up em-u-margin-top"
      >
      <li class="em-c-contact-card-list__item em-l-grid__item" ng-repeat="item in finalData | viewAll : data.view.displayNo : data.view.display track by $index">
        <div 
          class="em-c-card vcard" 
          highlighter 
          is-multiple="true"
          highlight="!data.isDynamic && item.editing">
          <div class="em-c-card__body">
            <div class="em-c-media-block em-c-media-block--small">
              <div class="em-c-media-block__media">
                <img ng-src="{{item.data.userProfilePhoto.data}}" alt="Alt Text" class="em-c-media-block__img em-c-avatar">
              </div>
              <div class="em-c-media-block__body">
                <h2 class="em-c-media-block__headline fn">
                  <ng-container ng-if="item.data.firstName.enable" ng-bind-html="item.data.firstName.data"></ng-container>
                  <ng-container ng-if="item.data.lastName.enable" ng-bind-html="item.data.lastName.data"></ng-container>
                </h2>
                <p class="em-c-media-block__desc">
                  <span class='org' ng-if="item.data.jobTitle.enable" ng-bind-html="item.data.jobTitle.data"></span>
                  <br/>
                  <span class='adr locality' ng-if="item.data.location.enable" ng-bind-html="item.data.location.data"></span></p>
              </div>
            </div>
          </div>
          <div 
            class="em-c-card__footer" 
            ng-if="!((!item.data.email.enable) && (!item.data.phone.enable) && (!item.data.mySite.enable) && (!item.data.sendIM.enable))">
            <ul class="em-c-link-list em-c-link-list--small em-c-link-list--has-icons">
              <li class="em-c-link-list__item" ng-if="item.data.email.enable">
                <a href=" mailto:nicholas.p.cochran@exxonmobil.com" class="em-c-link-list__link email">
                  <svg class="em-c-icon em-c-link-list__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" ng-href="{{ cdnPath + '/panels/content-008/em-icons.svg#icon-email'}}"></use>
                  </svg>
                  <span class="em-c-link-list__text" ng-bind-html="item.data.email.data"></span>
                </a>
              </li>
              <li class="em-c-link-list__item" ng-if="item.data.phone.enable">
                <a href=" tel:+5555555555" class="em-c-link-list__link tel">
                  <svg class="em-c-icon em-c-link-list__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" ng-href="{{ cdnPath + '/panels/content-008/em-icons.svg#icon-phone'}}"></use>
                  </svg>
                  <span class="em-c-link-list__text" ng-bind-html="item.data.phone.data"></span>
                </a>
              </li>
              <li class="em-c-link-list__item" ng-if="item.data.mySite.enable">
                <a href="{{item.data.mySite.data}}" class="em-c-link-list__link url" target="_blank">
                  <svg class="em-c-icon em-c-link-list__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" ng-href="{{ cdnPath + '/panels/content-008/em-icons.svg#icon-link'}}"></use>
                  </svg>
                  <span class="em-c-link-list__text" ng-bind-html="item.data.mySite.displayText"></span>
                </a> 
              </li>
              <li class="em-c-link-list__item" ng-if="item.data.sendIM.enable" >
                <a href="{{item.data.sendIM.data}}" class="em-c-link-list__link " target="_blank">
                  <svg class="em-c-icon em-c-link-list__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" ng-href="{{ cdnPath + '/panels/content-008/em-icons.svg#icon-chat'}}"></use>
                  </svg>
                  <span class="em-c-link-list__text" ng-bind-html="item.data.sendIM.displayText"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <div class="em-u-text-align-center">
      <button 
        class="em-c-btn em-c-btn--primary more-btn"
        ng-if="data.view.enable && (finalData.length >= data.view.displayNo)"
        ng-click="viewAllLess()"
        >
        <span class="em-c-btn__text" ng-bind-html="data.view.text"></span>
      </button>
    </div>
  </div>
</div>
